# Ignora o .env dentro de server/src/
server/src/.env

# Recomendado: ignorar qualquer .env em qualquer subpasta
**/.env

.gemini

# GEMINI.md
# VISUAL.md
# PRIORIDADES.md

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Mobile specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
